@model List<VotingApp.Web.Features.Polls.MyPollsListViewModel>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Question</th>
            <th scope="col">Total Votes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int number = 1;
        @foreach (var poll in Model)
        {
        <tr>
            <th scope="row">@number</th>
            <td>
                <a asp-action="MyPolls" asp-route-pollId="@poll.Id">"@poll.Question"</a>
            </td>
            <td>@poll.TotalVotes</td>
            <td>
                <form asp-action="DeletePoll" method="post">
                    <input type="hidden" asp-for="@poll.Id" />
                    <button type="submit" class="btn btn-danger">Delete (permanent)</button>
                </form>
            </td>
        </tr>
        number++;
        }
            }

    </tbody>
</table>